@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

html, body {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.first-nav {
  background-color: lawngreen;
	padding: 40px;
  font-family: "IBM Plex Mono", monospace;
	font-size:20px;
}

.brand-name {
  display: inline-block;
  padding-left: 25px;
}

.brand-name > a {
  text-decoration: none;
  color: black;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 180px);
  text-align: right;
  vertical-align: middle;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item > a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.main-nav__item > a:hover {
  color: white;
  border-bottom: 1px solid white;
}

/* GOAL PLANNER CSS */
.fontSizeCheck {
  font-size: 20px;
}

.margin1 {
  margin: 1%;
}

.form-check {
  border: 2px lawngreen solid;
  padding: 10px;
}

.borderRadiusCheck {
  border-radius: 10px;
}

.font {
  font-family: "IBM Plex Mono", monospace;
}

.center {
  text-align: center;
}

.containerCenter {
  margin: 0 auto;
}

#inputField {
  width: 74.5%;
}

#BtnAdd {
  width: 22%;
}

td{
  border: solid 3px green;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}